:root{
   --primarycolor: #3292a6;
   --primaryOverlay: rgba(50, 146, 166, 0.8); 
}

.navbar{
    box-shadow: 2px 2px 8px var(--primarycolor);
    opacity: 0.9;
    background-color: #fff;
}

.navbar .nav-item{
    font-size: 1.2rem;
    padding-right: 1.4rem;
}

#showcase .showcase-inner{
    padding-top: 80px;
}

#showcase{
    position: relative;
    background: url('images/mountain.jpeg');
    background-position: center;
    min-height: 650px;
}

#showcase .primary-overlay{
    position: absolute;
    background: var(--primaryOverlay);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.newsBtn{
    background: var(--primarycolor) !important;
    border-color: var(--primarycolor) !important;
}

.dreamBtn:hover {
    background: var(--primarycolor) !important;
}

.bg-pattern{
    background: var(--primarycolor) !important;
}

.border-pattern{
    border-color: var(--primarycolor) !important;
}

.text-pattern{
    color: var(--primarycolor);
}

.info-header{
    border-bottom: 1px #ddd solid;
    width: 70%;
    margin: auto;
}

#authors img{
    margin-top: -50px;
}

#authors .card:hover{
    background: var(--primarycolor);
    color: #fff;
}

#authors .card:hover .fab {
    color: #fff;
}

@media(max-width: 768px){

    #showcase{
        min-height: 500px;
    }
    #showcase h1{
        font-size: 40px;
        margin-top: 90px;
        /* height: 400px; */
    }

    #about h1{
        font-size: 27px;
    }
    #authors h1{
        font-size: 27px;
    }

    .mb-resp{
        margin-bottom: 1rem;
    }
}
